<h1><%=@list.name%></h1>
<%#= form_tag url: list_ingredient_bulk_update_path(@list_ingredients), method: :patch do %>
  <%# <%= check_box_tag :bought %>
  <%#= submit_tag "bought" %>
<%# end %>
<%= render partial: "list_ingredients/list_ingredients", collection: @list_ingredients %>
<%= render "list_ingredients/add_ingredient_form", edit: false %>
