<div>
  <% @favourite_recipes.each do |fr| %>
    <div class ="row hoverable posts-background">
      <div class ="col s10">
        <%= link_to "#{fr.recipe.title}", recipe_path(fr.recipe)%>
        <p>Added on: <%=fr.created_at.strftime("%b %d, %Y")%></p>

      </div>
    </div>
  <% end %>
</div>
