
.content-page {
  padding: 2.5%;
  display: flex;
  align-items: center;
}
.list {
  background-image: url("note_book.svg");
  flex: 2;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 5%;
  justify-content: center;
  padding-bottom: 5%;
}
.hidden {
  display: none;
}
.inside-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}
.header-list {
  padding-bottom: 5%;
}
.line {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid $dark-green;
  margin-right: 0;
}

.header_list{
  font-weight: 700;
  align-self: center;
  min-width: 25%;
  text-align: center;
}
.content_list {
  align-items: center;
  min-width: 25%;
  align-self: center;
  text-align: center;
  padding-top: 1%;
  position: relative;
}
.content_list .icon {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.line img{
  height: 32px;
  color: $primary;
  justify-content: space-between;
  margin-right: 20px
}

.edit-form-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.add_ingredient {
  background-image: url("postit.svg");
  flex: 1;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 60px;
}
form.simple_form.new_list_ingredient{
  align-items: end;
  justify-content: space-between;
  border-radius: 20px;
  margin: 10px 50px;
  padding: 5px 10px;
}