.content-page {
  display: flex;
  align-items: center;
}

.list {
  background-image: url("note_book.svg");
  flex: 3;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 120px;
  justify-content: center;
}
.inside-list {
  align-items: center;
}
.line {
  overflow: hidden;
  display: flex;
  align-items: end;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid $light-green;
  max-width: 80%;
  margin-right: 0;
}
.header_list{
  font-weight: 700;
  align-self: center;
  min-width: 25%;
  text-align: center;
}
.content_list {
  align-items: center;
  min-width: 25%;
  align-self: center;
  text-align: center;
}
.content_list .icon {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.line img{
  height: 32px;
  color: $primary;
  justify-content: space-between;
  margin-right: 20px
}
.add_ingredient {
  background-image: url("postit.svg");
  flex: 1;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 60px;
}
form.simple_form.new_list_ingredient{
  align-items: end;
  justify-content: space-between;
  border-radius: 20px;
  margin: 10px 50px;
  padding: 5px 10px;
}