body {
  background-color: white;
}

#content-recipe {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: fit-content;
  padding-top: 60px;
  flex-direction: column;
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-gap: 1.25rem;
  padding: 16px;
}

.box {
  --padding: 1rem;
  display: flex;
  flex-direction: column;
  background: #eee;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  height: 360px;
  width: 300px;
  border-radius: 0%;
  border: none;
  align-items: flex-start;
  position: relative;
  text-decoration: none;
}

.box-header h1 {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  text-align: left;
  padding: var(--padding);
  padding-bottom: 0;
  margin-bottom: .5rem ;
}

.box-body h2 {
  font-size: 1rem;
  font-weight: bold;
  white-space: initial;
  overflow-wrap: break-word;
  text-align: left;
  color: black;
  text-decoration: none;
}

.box-body p {
  font-weight: 200;
  color: rgb(77, 77, 77);
  font-size: 0.875rem;
  text-align: left;
  text-decoration: none;
}

.box-header.box-image {
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 190px;
  flex-shrink: 0;
}

.box-header.box-image > img {
  display: block;
  width: 100%;
  height: 190px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.box:hover > .box-header.box-image > img {
  transform: scale(1.025);
}

.box-body {
  // --fade: linear-gradient(#000, rgba(0, 0, 0, .1));
  // mask-image: var(--fade);
  // -webkit-mask-image: var(--fade);
  font-size: .9rem;
  overflow: auto;
  height: 100%;
  padding: 0 var(--padding);
}

.box-body p {
  font-size: .9rem;
}

.box-body::-webkit-scrollbar {
  display: none;
}

.box-footer {
  margin-top: 1rem;
}

.box-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

// .button {
//   --color: hsl(200, 50%, 50%);
//   background: var(--color);
//   color: white;
//   border: none;
//   font-size: 1rem;
//   padding: .5em .75em;
//   border-radius: .25em;
//   cursor: pointer;
// }

// .button:hover, button:focus {
//   background: hsl(200, 50%, 60%);
// }

// .button.button-outline {
//   background: none;
//   border: 1px solid var(--color);
//   color: var(--color);
// }

// .button.button-outline:hover, .button.button-outline:focus {
//   background: hsl(200, 50%, 90%);
// }

// .button + .button {
//   margin-left: .25rem;
// }
