<div class="page">
  <div class="header">
    <video autoplay muted loop id="myVideo">
      <source src="https://res.cloudinary.com/dlxysxfma/video/upload/c_crop,g_center,h_500,w_1280,y_0/v1679052164/fridgi_zs0xiv.mp4" type="video/mp4">
    </video>
    <div class="content">
      <div class="content-text">
        <h1>Taste, Don't Waste!</h1>
        <%= link_to "Visit our cookbook", recipes_path, class: "btn btn-info btn-sm"%>
      </div>
    </div>
  </div>
</div>
