<div class="header">
  <video autoplay muted loop id="myVideo">
    <source src="https://res.cloudinary.com/dlxysxfma/video/upload/v1679052164/fridgi_zs0xiv.mp4" type="video/mp4">
  </video>
  <div class="filter">
    <div class="content-text">
      <h1>Taste, Don't Waste!</h1>
      <%= link_to "Visit our cookbook", recipes_path, class: "btn"%>
    </div>
  </div>
</div>
