.footer {
  position: fixed; 
  left: 0 ; right: 0; bottom: 0; 
  flex-shrink: 0;
  margin-top: auto;
  background: $primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  border-color: black;
  border: 1px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $success;
  text-decoration: none;
  font-size: 32px;
  padding: 0px 10px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}