.navbar-lewagon {
  position: fixed;
  z-index: 100;
  left: 0 ; right: 0; top: 0; 
  flex-shrink: 0;
  margin-top: auto;
  background: $primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  border-color: black;
  border: 1px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img{
  width: 125px;
}
.nav-link{
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  color: $light-green;
}
.nav-link:hover {
  color: $white;
}
.nav-item {
  display: flex;
  align-self: center;
}