.row {
  position: relative;
  top: 0;
  z-index: 1024 !important;
  height: 50px;
  background-color: $dark-green;
  opacity: 1;
  transition: position 400ms, opacity 200ms !important;
}
.frdg-stc {
  padding: 4px 10px;
  position: fixed;
  z-index: 9999 !important;
  background-color: var(--color-black);
  left: 50%;
  height: 30px;
  transform: translate(-50%, -100%);
  color: var(--gfg-body-color);
  transition: transform 0.3s;
}
.nav-bar {
  background: $dark-green;
  padding-top: 5px;
  padding-bottom: 5px;
	overflow: hidden;
	display: flex;
	justify-content:center;
}

.dropdown {
  flex-grow: 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img{
  size: 100px;
}