.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: $primary;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img{
  width: 125px;
}
.nav-link{
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  color: $light-green;
}
.nav-link:hover {
  color: $white;
}
.nav-item {
  display: flex;
  align-self: center;
}