.navbar-lewagon {
  position: fixed;
  top: 0;
  width: 100%;
  flex-shrink: 0;
  justify-content: space-between;
  background: $primary;
  height: 80px;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img{
  position: absolute;
  height: 90%;
  top: 2px;
  text-align: center;
  margin: auto;
  transform: translateX(-50%);
  left: 50%;
}
.nav-link{
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  color: $light-green;
}

.dropdown-item:hover {
  background-color: rgba(0, 106, 117, .5);
}
.nav-link:hover {
  color: $white;
}
.nav-item {
  display: flex;
  align-self: center;
}