.navbar-lewagon {
  justify-content: space-between;
  background: $dark-green;
}
.row {  display: grid;
  grid-template-columns: 1.1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-auto-flow: column;
  background: $dark-green;
}

.nav-bar { grid-area: 1 / 1 / 2 / 4; }

.dropdown { grid-area: 1 / 3 / 2 / 4; }

.logo { grid-area: 1 / 2 / 2 / 3; }

.empty { grid-area: 1 / 1 / 2 / 2; }


.navbar-lewagon .navbar-brand img {
  height: 60px;
}