<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
    <h1>Edit Review</h1>
    <%= render "form_edit", edit: true%>
    </div>
  </div>
</div>
